body, main {
    width: unset;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

footer {
    position: unset;
    bottom: unset;
}

.indexButton {
    height: 4vh;
    padding-top: 0.5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

section {
    width: 80%;;
}

section article {
    margin-bottom: 25px;
}

ul {
    list-style-position: inside;
    padding-left: 1%;
}

header img, .indexButton {
    width: 80%;
}

@media (min-width: 350px) {
    header img, .indexButton {
        width: 60%;
    }
}

@media (min-width: 450px) {
    header img, .indexButton {
        width: 45%;
    }
}

@media (min-width: 600px) {
    header img, .indexButton {
        width: 30%;
    }
}

@media (min-width: 850px) {
    header img, .indexButton {
        width: 20%;
    }
}

@media (min-width: 1250px) {
    header img, .indexButton {
        width: 15%;
    }
}