body {
    width: 100vw;
}

.speech-bubble {
    display: none;
}

#menu {
    position: fixed;
    top: -5vh;
    transition: top 0.5s ease-in-out;
}

#menu.open {
    top: 0;
}

@media (min-width: 574px) {
    .logo {
        position: fixed;
        width: 20%;
        left: 40%;
        top: 50%;
        transform: translateY(-50%);
        height: unset;
    }

    .speech-bubble {
        position: absolute;
        max-width: 600px;
        background: white;
        color: black;
        box-sizing: border-box;
        border: 0.7vh solid black;
        text-align: left;
        line-height: 1.5;
        z-index: 1;
        width: 75%;
        padding: 20px;
    }

    .speech-bubble.not-main .speech-arrow::before {
        border-left: var(--arrow-before-border-left);
        border-right: var(--arrow-before-border-right);
        border-top: var(--arrow-before-border-top);
    }

    .speech-bubble.not-main .speech-arrow::after {
        border-left: var(--arrow-after-border-left);
        border-right: var(--arrow-after-border-right);
        border-top: var(--arrow-after-border-top);
        top: var(--arrow-after-top);
    }

    .speech-arrow {
        position: absolute;
        left: 50%;
        bottom: -0.4vh; /* Fine-tune to perfectly connect the arrow */
    }

    .speech-arrow::before {
        content: "";
        position: absolute;
        transform: translateX(-50%);
        border-left: calc(30px + 0.5vh) solid transparent;
        border-right: calc(30px + 0.5vh) solid transparent;
        border-top: calc(40px + 0.5vh) solid black; /* Adjust arrow size */
    }

    .speech-arrow::after {
        content: "";
        position: absolute;
        transform: translateX(-50%);
        top: -0.5vh;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 40px solid white; /* Adjust arrow size */
    }

    .speech-content {
        position: relative;
    }

    .speech-content h3 {
        margin-bottom: 10px;
        font-size: 1.2em;
        text-transform: uppercase;
    }

    .speech-content p {
        margin-bottom: 10px;
        font-size: 0.9em;
    }

    .close-button {
        position: absolute;
        top: 5px;
        right: 5px;
        background: transparent;
        border: none;
        color: black;
        font-size: 1.5em;
        line-height: 1;
        cursor: pointer;
    }
}

.more {
    width: 15%;
}

nav ul .more ul {
    display: none;
}

.more:hover ul {
    display: block;
    height: auto;
    border-left: 0.5vh solid #00D072;
    border-right: 0.5vh solid #00D072;
    margin-top: 0.8vh;
    padding-left: 15px;
    padding-right: 15px;
}

.more:hover ul li {
    padding-bottom: 0.8vh;
}

#picturePuzzle {
    background-image: url('../images/picture_puzzle/ink.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    height: 100vh;
}

#picturePuzzle section {
    display: flex;
}

#picturePuzzle section article {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    z-index: -1;
}

.ppTop {
    height: 39%;
}

.ppTop article {
    width: 30%;
}

.ppBottom {
    height: 61%;
}

.ppBottom article {
    width: 50%;
}


#defensiveArchitecture {
    background-image: url('../images/picture_puzzle/grey_top_left.webp');
    width: 40%;
}

#servicedApartments {
    background-image: url('../images/picture_puzzle/grey_top_center.webp');
}

#smartCity {
    background-image: url('../images/picture_puzzle/grey_top_right.webp');
}

#podcast {
    background-image: url('../images/picture_puzzle/grey_bottom_left.webp');
}

#squattedHouse {
    background-image: url('../images/picture_puzzle/grey_bottom_right.webp');
}

.defensiveArchitectureColored {
    background-image: url('../images/picture_puzzle/color_top_left.webp') !important;
}

.servicedApartmentsColored {
    background-image: url('../images/picture_puzzle/color_top_center.webp') !important;
}

.smartCityColored {
    background-image: url('../images/picture_puzzle/color_top_right.webp') !important;
}

.podcastColored {
    background-image: url('../images/picture_puzzle/color_bottom_left.webp') !important;
}

.squattedHouseColored {
    background-image: url('../images/picture_puzzle/color_bottom_right.webp') !important;
}

.socialMedia {
    display: flex;
    justify-content: space-around;
}

.socialMedia a {
    width: 30%;
}

.socialMedia img {
    width: 100%;
}

main {
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    height: auto;
    z-index: -1;
}